<!DOCTYPE html>
<html lang="en">

<head>
	<title>Account</title>
	<%- include('head') %>
	<link href="/css/account.css" rel="stylesheet"/>
</head>

<body id="page-top">
	<%- include('body_nav') %>
	<div class="container" id="card">
		<div class="card card-outline-secondary my-4">
			<div class="card-header">
				Account Info
			</div>
			<div class="card-body">
				<div class="bodylist">
                    <span>
                        <h3>ID</h3>
                    </span>
					<div class="attr" id="id">
						id
					</div>
				</div>
				<div class="bodylist">
                    <span>
                        <h3>NAME</h3>
                    </span>
					<div class="attr">
						<input class="form-control half" id="name" readonly type="text">
					</div>
				</div>
				<div class="bodylist">
                    <span>
                        <h3>PASSWORD</h3>
                    </span>
					<div class="attr">
						<input class="btn btn-secondary" id="setting_Pw" type="button" value="Change">
					</div>
				</div>
				<div class="bodylist">
                    <span>
                        <h3>EMAIL</h3>
                    </span>
					<div class="attr">
						<input class="form-control half" id="email" readonly type="email">
					</div>
				</div>
				<div class="bodylist">
                    <span>
                        <h3>PHONE</h3>
                    </span>
					<div class="attr">
						<input class="form-control half" id="phone" readonly type="text">
					</div>
				</div>
				<div class="bodylist">
                    <span>
                        <h3>ADDRESS</h3>
                    </span>
					<div class="attr">
						<input class="form-control quater" id="zipcode" readonly type="text">
						<input class="form-control half" id="address" readonly type="text">
					</div>
				</div>
				<div class="bodylist">
					<div class="attr">
						<input class="btn btn-secondary" id="setting" type="button" value="setting">
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer-->
	<%- include('footer') %>

	<!-- Core theme JS-->
	<script src="/js/scripts.js"></script>

	<script>
		$(document).ready(function () {
			var username = '<%- username %>';
			var userid = '<%- userid %>';
			var userphone = '<%- userphone %>';
			var useremail = '<%- useremail %>';
			var useraddress = '<%- useraddress %>';
			var userzipcode = '<%- userzipcode %>';
			var setting_flag = false;

			$("#id").html(userid);
			$("#name").val(username);
			$("#email").val(useremail);
			$("#phone").val(userphone);
			$("#zipcode").val(userzipcode);
			$("#address").val(useraddress);

			if (username) {
				$("#account_ctrl").html('Signout');
				$("#account_ctrl").attr("href", "/signout");
				$("#accountMenu").append('<a class="dropdown-item" id="management" href="/management">Management</a>');
			} else {
				$("#account_ctrl").html('Signin');
				$("#account_ctrl").attr("href", "/signin");
				$("#accountMenu").remove("#management");
			}
			if ($(window).width() < 976) {
				if (username) {
					$("#resizemenu").html(
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signout" id="account_ctrl">Signout</a></li>' +
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>' +
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/management">Management</a></li>'
					);
				} else {
					$("#resizemenu").html(
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signin" id="account_ctrl">Signin</a></li>' +
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>'
					);
				}
			}
			$(window).resize(function () {
				if ($(window).width() < 976) {
					if (username) {
						$("#resizemenu").html(
							'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signout id="account_ctrl">Signout</a></li>' +
							'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>' +
							'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/management">Management</a></li>'
						);
					} else {
						$("#resizemenu").html(
							'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signin" id="account_ctrl">Signin</a></li>' +
							'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>');
					}

				} else {
					if (username) {
						$("#resizemenu").html(
							'<div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"' +
							'data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Account</a>' +
							'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
							'<a class="dropdown-item" href="/signout" id="account_ctrl">Signout</a>' +
							'<a class="dropdown-item" href="/cart">Cart</a>' +
							'<a class="dropdown-item" href="/management">Management</a></div></div>'
						);
					} else {
						$("#resizemenu").html(
							'<div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"' +
							'data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Account</a>' +
							'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
							'<a class="dropdown-item" href="/signin" id="account_ctrl">Signin</a>' +
							'<a class="dropdown-item" href="/cart">Cart</a>'
						);
					}
				}
			});

			//setting password
			$("#setting_Pw").off("click").on("click", async function () {

				const {value: password} = await Swal.fire({
					title: 'Change Password',
					html:
						'<p>Password must be longer than 8 characters and using numbers/case letters/special characters.</p>' +
						'<div class="input-group mb-3">' +
						'<input type="password" id="userpassword" class="form-control" placeholder="Insert new password" style="text-align:left"></div>' +
						'<div class="input-group mb-3">' +
						'<input type="password"  id="passwordCheck" class="form-control" placeholder="Insert one more time" style="text-align:left"></div>',
					focusConfirm: false,
					showCancelButton: true,
					preConfirm: function () {
						var check_attr = {
							pw: $("#userpassword").val(),
							id: userid,
							c_p: $("#passwordCheck").val(),
						}
						$.ajax({
							url: "/signup/effectiveness",
							type: "post",
							data: check_attr,
							success: function (data) {
								if (data === "errortype1") {
									Swal.fire({
										icon: 'error',
										title: 'Fail',
										text: 'Password must be at least 8 characters long and must contain all numbers/case letters/special characters.',
									})
								} else if (data === "errortype2") {
									Swal.fire({
										icon: 'error',
										title: 'Fail',
										text: 'You can not use same letter 4 times',
									})
								} else if (data === "errortype3") {
									Swal.fire({
										icon: 'error',
										title: 'Fail',
										text: 'You can not use id in to password',
									})
								} else if (data === "errortype4") {
									Swal.fire({
										icon: 'error',
										title: 'Fail',
										text: 'You can not use blank in to password',
									})
								} else if (data === "errortype5") {
									Swal.fire({
										icon: 'error',
										title: 'Fail',
										text: 'You can not use korean in to password',
									})
								} else if (data === "errortype6") {
									Swal.fire({
										icon: 'error',
										title: 'Fail',
										text: 'You have to insert same password',
									})
								} else if (data === "errortype0") {
									$.ajax({
										url: "/account/password",
										type: "post",
										data: check_attr,
										success: function () {
											Swal.fire({
												icon: 'success',
												title: 'Change Password',
												text: 'You have to signin with new password',
											}).then(function () {
												location.href = "/signout";

											})
										},
										error: function () {}
									})
								}
							},
							error: function () {}
						})
					}
				})
			})

			//setting account info
			$("#setting").off("click").on("click", function () {
				var setting = $("#setting");
				var name = $("#name");

				var email = $("#email");
				var phone = $("#phone");
				var zipcode = $("#zipcode");
				var address = $("#address");
				if (setting_flag === false) {
					Swal.fire({
						icon: 'info',
						title: 'Setting Account',
						text: 'Insert new attribute',
					}).then(value => {
						setting.css("background-color", "red");
						setting.val("finish");

						email.attr("readonly", false);
						phone.attr("readonly", false);
						zipcode.attr("readonly", false);
						address.attr("readonly", false);
						name.attr("readonly", false);
						setting_flag = true;
					})

				} else {
					var attribute = {
						username: name.val(),
						userid: userid,
						useremail: email.val(),
						userphone: phone.val(),
						userzipcode: zipcode.val(),
						useraddress: address.val(),
						orgemail: useremail
					}
					$.ajax({
						url: "/account/certification",
						type: "post",
						data: attribute,
						success: function (data) {
							Swal.fire({
								icon: 'success',
								title: 'Setting Account',
								text: 'Update success',
							}).then(value => {
								setting.css("background-color", "gray");
								setting.val("setting");
								email.attr("readonly", true);
								phone.attr("readonly", true);
								zipcode.attr("readonly", true);
								address.attr("readonly", true);
								name.attr("readonly", true);
								setting_flag = false;
								location.href("/");
							})

						}
					})

				}

			})
		})

	</script>
</body>

</html>
