<!DOCTYPE html>
<html lang="en">

<head>
	<title>Account</title>
	<%- include('head') %>
	<link href="/css/admin.css" rel="stylesheet"/>
</head>

<body id="page-top">
	<%- include('body_nav') %>
	<script>
		//change display
		function link(to) { $("iframe").attr("src", to); }
	</script>

	<div class="body-container">
		<div>
			<div class="list-group management-list">
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="user" onclick="link('/admin/user');" style="color:black!important">User</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="item" onclick="link('/admin/item');" style="color:black!important">Item</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="item_add" onclick="link('/admin/add');" style="color:black!important">Item Add</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="item_add" onclick="link('/admin/itembrand');" style="color:black!important">Item Brands</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="item_add" onclick="link('/admin/carbrand');" style="color:black!important">Car Brands</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="category" onclick="link('/admin/category');" style="color:black!important">Category</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="ranking" onclick="link('/admin/ranking');" style="color:black!important">Ranking</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="shopimg" onclick="link('/admin/shopimg');" style="color:black!important">Shop Image</a>
				<a aria-expanded="false" aria-haspopup="true" class="list-group-item" id="mainimg" onclick="link('/admin/mainimg');" style="color:black!important">Main Page Image</a>
			</div>
			<div class="capsulate-window">
				<iframe frameborder="0" scrolling="no" src="/admin/user" style="width:100%;height:100%"></iframe>
			</div>
		</div>
	</div>

	<!-- Footer-->
	<%- include('footer') %>

	<!-- hidden -->
	<input id="e_username" type="hidden" value="<%= username %>"/>

	<!-- Core theme JS-->
	<script src="/js/nav.js"></script>

	<script>
		$("iframe").off('load').on('load', function () {
			var height = $("iframe").contents().find("body").height();
			if (height < 450) {
				$(".capsulate-window").css("height", "450px");
				$(".body-container").css("height", "450px");
			} else {
				$(".capsulate-window").css("height", height + "px");
				$(".body-container").css("height", height + "px");
			}
		})
	</script>
</body>

</html>
