<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('head') %>
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	<form>
		<div class="input-group mb-1">
			<span class="input-group-text">Name</span>
			<input class="form-control" id="name" name="name" type="text">
			<span class="input-group-text">Img</span>
			<span style="border:1px solid silver">
        <input accept="image/*" class="mt-1 ml-1" id="img" name="brandimg" type="file">
        </span>
			<input class="btn btn-secondary" id="add-btn" type="button" value="add">
		</div>
	</form>
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col" style="width: 40%;">NAME</th>
			<th scope="col" style="width: 40%;">IMG</th>
			<th style="width: 10%;"></th>
			<th style="width: 10%;"></th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>

	<script>
		var data = JSON.parse('<%- data %>');
		for (var i = 0; i < data.length; i++) {
			$("tbody").append(
				'<tr>' +
				'<td><input type="text" id="name' + i + '" disabled value="' + data[i].NAME + '" style="border:none;background-color:white; text-align: center;"></td>' +

				'<td><img src="/img/car_brands/' + data[i].IMG + '" id="img' + i + '" style="width:100px;height:100px"></td>' +
				'<td><input type="button" id="setting' + i + '" class="btn btn-info" value="setting" onclick="set_item(' + i + ');"></td>' +
				'<td><input type="button" class="btn btn-warning" value="delete" onclick="del_item(' + i + ');"></td>' +
				'</tr>'
			)
		}
		$('td').css('vertical-align', 'inherit');

		//delete carbrand
		function del_item(i) {
			var name = data[i].NAME;
			var country = data[i].COUNTRY;
			$.ajax({
				url: '/admin/carbrand/delete',
				type: 'post',
				data: {
					name: name,
					img: data[i].IMG
				},
				success: function () {
					location.reload();
				},
				error: function () {
					location.reload();
				}
			})
		}

		//add carbrand
		$("#add-btn").off("click").on("click", function () {
			const formdata = new FormData($("form")[0]);
			$.ajax({
				url: "/admin/carbrand/add",
				type: "post",
				contentType: false,
				processData: false,
				data: formdata,
				success: function (data) {
					if (data === "fail") {
						alert("overlap car brand")
					}
					location.reload();
				},
				error: function () {
					location.reload();
				}
			})
		})


		//setting car brand
		function set_item(i) {

			if ($("#setting" + i).val() === "setting") {

				$("#img" + i).attr("disabled", false);
				$("#img" + i).attr("type", "file");
				$("#img" + i).css("border", "1px solid black");
				$("#setting" + i).val("finish");
				$("#setting" + i).css("background-color", "red");
			} else if ($("#setting" + i).val() === "finish") {

				$("#img" + i).attr("disabled", true);
				$("#img" + i).css("border", "none");
				$("#setting" + i).val("setting");
				$("#setting" + i).css("background-color", "#17a2b8");
				const formdata = new FormData();
				formdata.append("name", $("#name" + i).val());
				formdata.append("img", $("#img" + i)[0].files[0]);

				$.ajax({
					url: "/admin/carbrand/change",
					type: "post",
					data: formdata,
					contentType: false,
					processData: false,
					success: function (data) {

						location.reload();
					},
					error: function () {
						alert("fail");
					}
				})


			} else {
				alert("인식못함");
			}
		}
	</script>

</body>

</html>
