<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('head') %>
	<link href="/css/index.css" rel="stylesheet">
</head>
<body>
	<div class="input-group mb-1">
		<div class="input-group-prepend">
			<span class="input-group-text">Delete Main</span></div>
		<select class="custom-select" id="delete-main" name="delete-main">
			<option selected></option>
		</select>
		<input class="btn btn-secondary" id="delete-main-btn" type="button" value="delete">
	</div>
	<form>
		<div class="input-group mb-1">
			<span class="input-group-text">Main</span>
			<input class="form-control" id="main" name="MAIN" type="text">

			<span class="input-group-text">Sub</span>
			<input class="form-control" id="sub" name="SUB" type="text">
			<input class="btn btn-secondary" id="add-btn" type="button" value="add">

		</div>
	</form>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">MAIN</th>
				<th scope="col">SUB</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<script>
		var data = JSON.parse('<%- data %>');

		for (var i = 0; i < data.length; i++) {
			$("tbody").append(
				'<tr>' +
				'<td>' + data[i].MAIN + '</td>' +
				'<td>' + data[i].SUB + '</td>' +
				'<td><input type="button" class="btn btn-warning" value="delete" onclick="del_sub(' + i + ');"></td>' +
				'</tr>'
			)
			if (i === 0) {
				$("#delete-main").append(
					'<option value="' + data[i].MAIN + '">' + data[i].MAIN + '</option> '
				)
			} else if (data[i].MAIN !== data[i - 1].MAIN) {
				$("#delete-main").append(
					'<option value="' + data[i].MAIN + '">' + data[i].MAIN + '</option> '
				)
			}

		}

		//delete sub category
		function del_sub(i) {
			var mainc = data[i].MAIN;
			var subc = data[i].SUB;
			$.ajax({
				url: '/admin/category/delete/sub',
				type: 'post',
				data: {
					MAIN: mainc,
					SUB: subc
				},
				success: function () {
					location.reload();
				},
				error: function () {
					location.reload();
				}
			})
		}

		//delete main category -> delete all sub category
		$("#delete-main-btn").off("click").on("click", function () {
			$.ajax({
				url: '/admin/category/delete/main',
				type: 'post',
				data: {
					MAIN: $("#delete-main").val()
				},
				success: function () {
					location.reload();
				},
				error: function () {
					location.reload();
				}
			})
		})

		//add category
		$("#add-btn").off("click").on("click", function () {
			$.ajax({
				url: "/admin/category/add",
				type: "post",
				data: $("form").serialize(),
				success: function () {
					location.reload();
				},
				error: function () {
					location.reload();
				}
			})
		})
	</script>

</body>

</html>
