<!DOCTYPE html>
<html lang="en">

<head>
	<title>AUTOINMall</title>
	<%- include('head') %>
	<link href="/css/shop-item.css" rel="stylesheet">
	<script>
		//rateing
		function rating(num) {
			var star = Number(num);
			switch (star) {
				case 1:
					$("#rate").val(1);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9734;");
					$("#star3").html("&#9734;");
					$("#star4").html("&#9734;");
					$("#star5").html("&#9734;");
					break;

				case 2:
					$("#rate").val(2);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9734;");
					$("#star4").html("&#9734;");
					$("#star5").html("&#9734;");
					break;

				case 3:
					$("#rate").val(3);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9733;");
					$("#star4").html("&#9734;");
					$("#star5").html("&#9734;");
					break;

				case 4:
					$("#rate").val(4);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9733;");
					$("#star4").html("&#9733;");
					$("#star5").html("&#9734;");
					break;

				case 5:
					$("#rate").val(5);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9733;");
					$("#star4").html("&#9733;");
					$("#star5").html("&#9733;");
					break;
			}
		}

		//wide img
		function wide_img(num) {

			var img = $("#img" + num).attr("src");
			Swal.fire({
				html:
					'<img class="wide-img" src="' + img + '" >',
				imageAlt: 'item img',
			})
		}

		//del_review
		function del_review(num) {
			$.ajax({
				url: "/review/delete?id=" + review_list[num].REVIEW_ID,
				type: "get",
				success: function () {
					Swal.fire({
						icon: "success",
						title: "Delete",
						text: "Delete review success"
					}).then(function () {
						location.reload();
					})
				},
				error: function () {
					Swal.fire({
						icon: "error",
						title: "Delete",
						text: "Delete review fail"
					})
				}
			})
		}
	</script>
</head>

<body id="page-top">
	<%- include('body_nav') %>
	<br>
	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<div class="col-lg-3">
				<h1 class="my-4" style="text-align: center;">AUTOINMall</h1>
				<div class="list-group" id="left-group">

				</div>
			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">
				<div class="container" id="item_info">
					<div class="row" id="item_info_row">
						<div class="col-lg-6" id="item_img">
							<!-- Swiper -->
							<div class="swiper-container gallery-top">
								<div class="swiper-wrapper">
									<div class="swiper-slide" id="top-img-0">
										<a onclick="wide_img(0);"><img id="img0" style="width:380px;height:200px"></a>
									</div>
									<div class="swiper-slide" id="top-img-1">
										<a onclick="wide_img(1);"><img id="img1" style="width:380px;height:200px"></a>
									</div>
									<div class="swiper-slide" id="top-img-2">
										<a onclick="wide_img(2);"><img id="img2" style="width:380px;height:200px"></a>
									</div>
									<div class="swiper-slide" id="top-img-3">
										<a onclick="wide_img(3);"><img id="img3" style="width:380px;height:200px"></a>
									</div>
									<div class="swiper-slide" id="top-img-4">
										<a onclick="wide_img(4);"><img id="img4" style="width:380px;height:200px"></a>
									</div>
								</div>
								<!-- Add Arrows -->
								<div class="swiper-button-next swiper-button-black"></div>
								<div class="swiper-button-prev swiper-button-black"></div>
							</div>
							<div class="swiper-container gallery-thumbs">
								<div class="swiper-wrapper">
									<div class="swiper-slide" id="thumb-img-0">
										<img style="width:80%;height:70%">

									</div>
									<div class="swiper-slide" id="thumb-img-1">
										<img style="width:80%;height:70%">
									</div>
									<div class="swiper-slide" id="thumb-img-2">
										<img style="width:80%;height:70%">
									</div>
									<div class="swiper-slide" id="thumb-img-3">
										<img style="width:80%;height:70%">
									</div>
									<div class="swiper-slide" id="thumb-img-4">
										<img style="width:80%;height:70%">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6" id="item_head">
							<br>
							<h3 class="title"></h3>
							<h4></h4>
							<p class="text"></p>
							<span class="text-warning"></span>
						</div>
					</div>
					<form id="add_cart">
						<div class="input-group mb-3" style="float:right;width:50%;">
							<div class="input-group-prepend" style="float:right!important">
								<input class="form-control" min=1 name="item_volume" style="float:right!important" type="number"
									   value=1>
								<span class="input-group-text" style="float:right!important">EA</span>
							</div>
						</div>
						<input id="item_pin" name="item_pin" type="hidden">
						<input id="item_parts_num" name="item_parts_num" type="hidden">
						<input id="item_name" name="item_name" type="hidden">
						<input id="item_price" name="item_price" type="hidden">
						<input id="volume_original" name="volume_original" type="hidden">
						<input class="btn btn-warning btn-block" id="buy" type="button" value="Add to Cart">
					</form>
					<div class="input-group mt-2">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width:120px;">Pin</span></div>
						<input class="form-control" disabled id="pin" type="text">
					</div>
					<div class="input-group mt-2">
						<div class="input-group-prepend">
							<span class="input-group-text">Download Files</span></div>
						<div id="item_file" style="border:1px solid silver;padding-top:1%;padding-right: 1%;padding-left: 1%;width:100%">

						</div>
					</div>
					<!-- /.card -->
					<div class="card card-outline-secondary my-4">
						<div class="card-body">
							<p id="item_desc">
							</p>
						</div>
					</div>
					<!-- /.card -->

				</div>
				<!-- /.col-lg-9 -->
				<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="padding:0!important">
					<div class="card card-outline-secondary my-2">
						<div class="card-header" style="color:white; background-color: #212529;">
							Product Reviews
						</div>
						<div class="card-body review-body">


						</div>
					</div>
					<div class="card card-outline-secondary" style="margin-top:0;margin-bottom:5%;">
						<div class="card-header" style="color:white; background-color: #212529;">
							Write Review
						</div>
						<div class="card-body">
							<form>
								<div class="form-group" style="width:50%;">
									<label for="formControlRange">Rating</label>
									<a id="star1" onClick="rating(1);">&#9733;</a>&nbsp;
									<a id="star2" onClick="rating(2);">&#9733;</a>&nbsp;
									<a id="star3" onClick="rating(3);">&#9733;</a>&nbsp;
									<a id="star4" onClick="rating(4);">&#9734;</a>&nbsp;
									<a id="star5" onClick="rating(5);">&#9734;</a>
									<input id="rate" type="hidden" value="3">
								</div>

								<textarea class="form-control" id="review" style="resize:none;height:100px;">

                </textarea>
								<div style="float:right">
									<input class="btn btn-warning mt-2" id="confirm" type="button" value="confirm">
								</div>
							</form>

						</div>

					</div>
				</div>
			</div>

		</div>

	</div>

	<!-- Footer-->
	<%- include('footer') %>

	<!-- hidden -->
	<input type="hidden" id="e_username" value="<%= username %>" />

	<!-- Core theme JS-->
	<script src="/js/item.js"></script>
	<script src="/js/nav.js"></script>

	<script>
		var username = '<%- username %>';
		var info = JSON.parse('<%- info %>');
		var review_list = JSON.parse('<%- review %>');
		var userid = '<%- userid %>';
		var rate;
		var category = JSON.parse('<%- category %>');

		//category
		for (var i = 0; i < category.length; i++) {
			var s_c = String(category[i].ID).split('_');
			var main = s_c[0];
			var sub = s_c[1];
			if (i === 0) {
				$("#left-group").html(
					'<div class="dropright" name = "' + main + '">' +
					'<a href="#" style="color:black!important" class="list-group-item dropdown-toggle"' +
					'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + main + '</a>' +
					'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
					'<a class="dropdown-item" href="/shop/item?main=' + main + '&sub=' + sub + '">' + sub + '</a>' +
					'</div>' +
					'</div>'
				);
			} else {
				if (main === String(category[i - 1].ID).split('_')[0]) {

					$(".dropright[name='" + main + "'] .dropdown-menu").append(
						'<a class="dropdown-item" href="/shop/item?main=' + main + '&sub=' + sub + '">' + sub + '</a>'
					);
				} else if (i !== (category.length) - 1 && main !== String(category[i - 1].ID).split('_')[0]) {

					$("#left-group").append(
						'<div class="dropright" name = "' + main + '">' +
						'<a href="#" style="color:black!important" class="list-group-item dropdown-toggle"' +
						'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + main + '</a>' +
						'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
						'<a class="dropdown-item" href="/shop/item?main=' + main + '&sub=' + sub + '">' + sub + '</a>' +
						'</div>' +
						'</div>'
					);
				}
			}

		}

		for (var j = 0; j < review_list.length; j++) {
			var user_rate;
			switch (info[0].RATE) {
				case 0:
					user_rate = "&#9734; &#9734; &#9734; &#9734; &#9734;";
					break;
				case 1:
					user_rate = "&#9733; &#9734; &#9734; &#9734; &#9734;";
					break;
				case 2:
					user_rate = "&#9733; &#9733; &#9734; &#9734; &#9734;";
					break;
				case 3:
					user_rate = "&#9733; &#9733; &#9733; &#9734; &#9734;";
					break;
				case 4:
					user_rate = "&#9733; &#9733; &#9733; &#9733; &#9734;";
					break;
				case 5:
					user_rate = "&#9733; &#9733; &#9733; &#9733; &#9733;";
					break;

			}
			if (userid === review_list[j].USER_ID) {
				$(".review-body").append(
					'<div class="mb-1" style="border-bottom:1px solid black;"><span><h5 style="display:inline">' + review_list[j].USER_NAME + "'s review" + '</h5></span><span><a href="#" class="btn" onClick="del_review(' + j + ');" style="float:right;">Delete</a></span>' +

					'<p>' + review_list[j].REVIEW + '</p>' +

					'<small class="text-muted">Rating: ' + user_rate + '<br>Posted by ' + review_list[j].USER_NAME + ' on ' + String(review_list[j].REVIEW_DATE).substring(0, 10) + '</small></div>'
				)
			} else {
				$(".review-body").append(
					'<div class="mb-1" style="border-bottom:1px solid black;"><h5>' + review_list[j].USER_NAME + "'s review" + '</h5>' +

					'<p>' + review_list[j].REVIEW + '</p>' +

					'<small class="text-muted">Rating: ' + user_rate + '<br>Posted by ' + review_list[j].USER_NAME + ' on ' + String(review_list[j].REVIEW_DATE).substring(0, 10) + '</small></div>'
				)
			}

		}


		if (info !== "undefined") {
			//img

			$("#top-img-0 img").attr('src', '/img/item/' + info[0].IMG1 + '');
			$("#thumb-img-0 img").attr('src', '/img/item/' + info[0].IMG1 + '');

			$("#top-img-1 img").attr('src', '/img/item/' + info[0].IMG2 + '');
			$("#thumb-img-1 img").attr('src', '/img/item/' + info[0].IMG2 + '');

			$("#top-img-2 img").attr('src', '/img/item/' + info[0].IMG3 + '');
			$("#thumb-img-2 img").attr('src', '/img/item/' + info[0].IMG3 + '');

			$("#top-img-3 img").attr('src', '/img/item/' + info[0].IMG4 + '');
			$("#thumb-img-3 img").attr('src', '/img/item/' + info[0].IMG4 + '');

			$("#top-img-4 img").attr('src', '/img/item/' + info[0].IMG5 + '');
			$("#thumb-img-4 img").attr('src', '/img/item/' + info[0].IMG5 + '');
			//rate
			switch (info[0].RATE) {
				case 0:
					rate = "&#9734; &#9734; &#9734; &#9734; &#9734;";
					break;
				case 1:
					rate = "&#9733; &#9734; &#9734; &#9734; &#9734;";
					break;
				case 2:
					rate = "&#9733; &#9733; &#9734; &#9734; &#9734;";
					break;
				case 3:
					rate = "&#9733; &#9733; &#9733; &#9734; &#9734;";
					break;
				case 4:
					rate = "&#9733; &#9733; &#9733; &#9733; &#9734;";
					break;
				case 5:
					rate = "&#9733; &#9733; &#9733; &#9733; &#9733;";
					break;

			}
			$("#item_head h3").html(info[0].ITEM_NAME);
			if (info[0].PRICE === "") {
				$("#item_head h4").html("N/A<br><small>Please contact us</small>");
				$("#buy").attr("value", "contact to Autoinmall");
				$("#buy").attr("id", "contact");
			} else {
				$("#item_head h4").html("$" + info[0].PRICE);
			}
			$("#item_head p").html(
				"Parts Number: " + info[0].PARTS_NUM + "<br>" +
				"Quantity: " + info[0].VOLUME + " EA<br>" +
				"Model: " + info[0].BASE_M + "(version: " + info[0].DETAIL_M + ")<br>" +
				"Car Brand: " + info[0].CAR_M + "<br>" +
				"Item Brand: " + info[0].BRAND_I + "<br>" +
				"Item manufacturer: " + info[0].ITEM_M + "<br>"
			);
			$("#item_head span").html(rate + " " + info[0].RATE + " stars");
			$("#pin").val(info[0].PIN);
			$("#item_desc").html(info[0].ITEM_DESC);
			$("#volume_original").val(Number(info[0].VOLUME));
			$("#item_name").val(info[0].ITEM_NAME);
			$("#item_pin").val(info[0].PIN);
			$("#item_parts_num").val(info[0].PARTS_NUM);
			$("#item_price").val(info[0].PRICE);

		}

		//file
		var file_list = info[0].FILE_LIST;
		if (file_list) {
			var file = file_list.split(';');
			for (var l = 0; l < file.length; l++) {
				$("#item_file").append(
					'<a href="/download?pin=' + info[0].PIN + '&file=' + file[l] + '" style="color:black;">' + file[l] + '&nbsp;&nbsp;</a>'
				)
			}
		}

		//review
		$("#confirm").off("click").on("click", function () {
			if (!username) {
				Swal.fire({
					icon: 'error',
					title: 'Sign in',
					text: 'Sign in first!!'
				})

			} else {
				var url = location.href;
				var pin = url.split("=")[1];
				$.ajax({
					url: "/review/confirm",
					type: "post",
					data: {
						pin: pin,
						rate: $("#rate").val(),
						review: $("#review").val()
					},
					success: function () {
						Swal.fire({
							icon: 'success',
							title: 'Review',
							text: 'Review sending success',

						}).then(function () {
							location.href = "/item/info?pin=" + pin;
						})
					},
					error: function () {
						Swal.fire({
							icon: 'error',
							title: 'Review',
							text: 'Review sending error',

						}).then(function () {
							location.reload();
						})
					}
				})
			}
		})

		//add cart
		$("#buy").off("click").on("click", function () {
			var item_name = $("#item_name").val()
			if ($("input[name='item_volume']").val() <= Number(info[0].VOLUME)) {
				$.ajax({
					url: "/item/cart",
					type: "post",
					data: $("#add_cart").serialize(),
					success: function (data) {
						if (data === "GO SIGNIN") {
							Swal.fire({
								icon: 'error',
								title: 'Sign in',
								text: 'Sign in first!!'
							})
						} else {
							Swal.fire({
								icon: 'success',
								title: 'Add',
								text: data + ' is in the cart!!'
							}).then(function () {
								location.reload();
							})

						}

					},
					error: function () {
						Swal.fire({
							icon: 'error',
							title: 'Add',
							text: 'Insert cart fail'
						})
					}
				})
			} else {
				Swal.fire({
					icon: 'error',
					title: 'Quantity',
					text: 'You can not buy item more than quantity'
				})
			}

		})
		//contact to admin
		$("#contact").off("click").on("click", function () {
			if (!username) {
				Swal.fire({
					icon: 'error',
					title: 'Sign in',
					text: 'Sign in first!!'
				})

			} else {
				Swal.fire({
					icon: 'success',
					title: 'send email',
					text: 'Send email success'
				})
				$.ajax({
					url: "/item/contact",
					type: "post",
					data: {
						to: "service@autoinmall.com",
						name: info[0].ITEM_NAME,
						pin: info[0].PIN,
						parts_num: info[0].PARTS_NUM
					},
					success: function () {
					}
				})
			}
		})
	</script>

</body>

</html>
