<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('head') %>
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	<div class="contianer">
		<form id="form_theme1">
			<div class="input-group mb-1">
				<div class="input-group-text col-md-10">Best Items</div>
			</div>
			<div class="row" style="text-align: center;margin-left:0.3%;margin-right:0.3%;padding-bottom:1%">
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top1</h3>
					<img class="'img-ranking" id="theme1_top1_img">
					<input class="form-control" id="theme1_top1" name="top1" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme1_top1_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top2</h3>
					<img class="'img-ranking" id="theme1_top2_img">
					<input class="form-control" id="theme1_top2" name="top2" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme1_top2_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top3</h3>
					<img class="'img-ranking" id="theme1_top3_img">
					<input class="form-control" id="theme1_top3" name="top3" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme1_top3_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top4</h3>
					<img class="'img-ranking" id="theme1_top4_img">
					<input class="form-control" id="theme1_top4" name="top4" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme1_top4_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top5</h3>
					<img class="'img-ranking" id="theme1_top5_img">
					<input class="form-control" id="theme1_top5" name="top5" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme1_top5_name"></p>
				</div>

			</div>
			<div style="text-align:right!important">
				<input class="btn btn-danger mb-2" id="theme1_delete" style="display: none;" type="button" value="delete">
				<input class="btn btn-secondary mb-2" id="theme1_setting" type="button" value="add">
			</div>
		</form>
		<form id="form_theme2">
			<div class="input-group mb-1">
				<div class="input-group-text col-md-10">Most Popular</div>
			</div>
			<div class="row" style="text-align: center;margin-left:0.3%;margin-right:0.3%;padding-bottom:1%">
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top1</h3>
					<img class="'img-ranking" id="theme2_top1_img">
					<input class="form-control" id="theme2_top1" name="top1" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme2_top1_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top2</h3>
					<img class="'img-ranking" id="theme2_top2_img">
					<input class="form-control" id="theme2_top2" name="top2" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme2_top2_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top3</h3>
					<img class="'img-ranking" id="theme2_top3_img">
					<input class="form-control" id="theme2_top3" name="top3" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme2_top3_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top4</h3>
					<img class="'img-ranking" id="theme2_top4_img">
					<input class="form-control" id="theme2_top4" name="top4" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme2_top4_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top5</h3>
					<img class="'img-ranking" id="theme2_top5_img">
					<input class="form-control" id="theme2_top5" name="top5" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme2_top5_name"></p>
				</div>

			</div>
			<div style="text-align:right!important">
				<input class="btn btn-danger mb-2" id="theme2_delete" style="display: none;" type="button" value="delete">
				<input class="btn btn-secondary mb-2" id="theme2_setting" type="button" value="add">
			</div>
		</form>
		<form id="form_theme3">
			<div class="input-group mb-1">
				<div class="input-group-text col-md-10">Steady Seller</div>
			</div>
			<div class="row" style="text-align: center;margin-left:0.3%;margin-right:0.3%;padding-bottom:1%">
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top1</h3>
					<img class="'img-ranking" id="theme3_top1_img">
					<input class="form-control" id="theme3_top1" name="top1" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme3_top1_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top2</h3>
					<img class="'img-ranking" id="theme3_top2_img">
					<input class="form-control" id="theme3_top2" name="top2" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme3_top2_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top3</h3>
					<img class="'img-ranking" id="theme3_top3_img">
					<input class="form-control" id="theme3_top3" name="top3" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme3_top3_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top4</h3>
					<img class="'img-ranking" id="theme3_top4_img">
					<input class="form-control" id="theme3_top4" name="top4" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme3_top4_name"></p>
				</div>
				<div class="col-md-2 mt-2" style="border:1px solid silver;padding-top:1%;padding-bottom:1%">
					<h3>Top5</h3>
					<img class="'img-ranking" id="theme3_top5_img">
					<input class="form-control" id="theme3_top5" name="top5" placeholder="Pin" style="margin-top:5%" type="text">
					<p id="theme3_top5_name"></p>
				</div>

			</div>
			<div style="text-align:right!important">
				<input class="btn btn-danger mb-2" id="theme3_delete" style="display: none;" type="button" value="delete">
				<input class="btn btn-secondary mb-2" id="theme3_setting" type="button" value="add">
			</div>
		</form>
	</div>

	<script>
		var data = JSON.parse('<%- data %>');
		for (var i = 0; i < 3; i++) {
			for (var j = 0; j < 5; j++) {
				$(`#theme${i + 1}_top${j + 1}_img`).attr('src', data['imgPath'][i * 5 + j]).css('width', '100%').css('height', '170px');
				$(`#theme${i + 1}_top${j + 1}_name`).text(data['name'][i * 5 + j]).css('font-weight', 'bold');
				$(`#theme${i + 1}_top${j + 1}`).val(data['pin'][i * 5 + j]);
			}
		}
		$(".btn").off("click").on("click", (e) => {
			var id = e.target.id;
			var number = id.substring(5, 6);
			//alert(number);
			var value = e.target.value;
			if (value === "add") {
				$.ajax({
					url: "/admin/ranking/add",
					type: "post",
					data: $("#form_theme" + number).serialize(),
					success: function (data) {
						location.reload();
					},
					error: function () {
						alert("add error");
						location.reload();
					}
				})
			} else if (value === "setting") {
				$("#theme" + number + "_top1").attr("disabled", false);
				$("#theme" + number + "_top2").attr("disabled", false);
				$("#theme" + number + "_top3").attr("disabled", false);
				$("#theme" + number + "_top4").attr("disabled", false);
				$("#theme" + number + "_top5").attr("disabled", false);
				$("#" + id).val('finish');
			} else if (value === "delete") {
				alert($("#theme" + number).val());
				$.ajax({
					url: "/admin/ranking/delete",
					type: "post",
					data: {theme: $("#theme" + number).val()},
					success: function (data) {
						location.reload();
					},
					error: function () {
						alert("delete error");
						location.reload();
					}
				})
			} else if (value === "finish") {
				$.ajax({
					url: "/admin/ranking/setting",
					type: "post",
					data: {
						theme: $("#theme" + number).val(),
						top1: $("#theme" + number + "_top1").val(),
						top2: $("#theme" + number + "_top2").val(),
						top3: $("#theme" + number + "_top3").val(),
						top4: $("#theme" + number + "_top4").val(),
						top5: $("#theme" + number + "_top5").val()
					},
					success: function (data) {
						location.reload();
					},
					error: function () {
						alert("setting error");
						location.reload();
					}
				})
			}

		})
	</script>
</body>

</html>
