<!DOCTYPE html>
<html lang="en">

<head>
	<title>AUTOINMall</title>
	<%- include('head') %>
	<link href="/css/index.css" rel="stylesheet">
	<style>
		#mainNav {
			background-color: #212529;
		}

		.card-header {
			background-color: #212529 !important;
			color: white;
		}

		form a {
			font-size: 20px;
			cursor: pointer;
			color: yellow;
		}
	</style>
	<script>
		function rating(num) {
			var star = Number(num);
			switch (star) {
				case 1:
					$("#rate").val(1);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9734;");
					$("#star3").html("&#9734;");
					$("#star4").html("&#9734;");
					$("#star5").html("&#9734;");
					break;

				case 2:
					$("#rate").val(2);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9734;");
					$("#star4").html("&#9734;");
					$("#star5").html("&#9734;");
					break;

				case 3:
					$("#rate").val(3);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9733;");
					$("#star4").html("&#9734;");
					$("#star5").html("&#9734;");
					break;

				case 4:
					$("#rate").val(4);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9733;");
					$("#star4").html("&#9733;");
					$("#star5").html("&#9734;");
					break;

				case 5:
					$("#rate").val(5);
					$("#star1").html("&#9733;");
					$("#star2").html("&#9733;");
					$("#star3").html("&#9733;");
					$("#star4").html("&#9733;");
					$("#star5").html("&#9733;");
					break;
			}
		}
	</script>
</head>

<body id="page-top">
	<%- include('body_nav') %>

	<div class="container" style="margin-top:10%">
		<div class="card card-outline-secondary my-4">
			<div class="card-header">
				Review
			</div>
			<div class="card-body">
				<form>
					<div class="form-group" style="width:50%;">
						<label>Rating</label>
						<a id="star1" onClick="rating(1);">&#9733;</a>&nbsp;
						<a id="star2" onClick="rating(2);">&#9733;</a>&nbsp;
						<a id="star3" onClick="rating(3);">&#9733;</a>&nbsp;
						<a id="star4" onClick="rating(4);">&#9734;</a>&nbsp;
						<a id="star5" onClick="rating(5);">&#9734;</a>
						<input id="rate" type="hidden" value="3">
					</div>

					<textarea class="form-control" id="review" style="resize:none;height:300px">

                    </textarea>
					<div style="float:right">
						<input class="btn btn-success mt-2" id="confirm" type="button" value="confirm">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Footer-->
	<%- include('footer') %>

	<!-- hidden -->
	<input type="hidden" id="e_username" value="<%= username %>" />

	<!-- Core theme JS-->
	<script src="/js/scripts.js"></script>
	<script src="/js/nav.js"></script>

	<script>
		$("#confirm").off("click").on("click", function () {
			var url = location.href;
			var pin = url.split("=")[1];
			$.ajax({
				url: "/review/confirm",
				type: "post",
				data: {
					pin: pin,
					rate: $("#rate").val(),
					review: $("#review").val()
				},
				success: function () {
					Swal.fire({
						icon: 'success',
						title: 'Review',
						text: 'Review sending success',

					}).then(function () {
						location.href = "/item/info?pin=" + pin;
					})
				},
				error: function () {
					Swal.fire({
						icon: 'error',
						title: 'Review',
						text: 'Review sending error',

					}).then(function () {
						location.reload();
					})
				}
			})
		})
	</script>
</body>

</html>
