<!DOCTYPE html>
<html lang="en">

<head>
	<title>AUTOINMall</title>
	<%- include('head') %>
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	<div style="background-color: #212529;height:80px;width:100%">
		<img alt="" src="/img/autoinlogo/autoin_logo.png" style="width:200px;height:50px;margin-left:2%;margin-top:2%"/>
	</div>
	<br>
	<div class="container">
		<form>
			<div class="input-group mb-1">
				<div class="input-group-prepend">
					<span class="input-group-text">From</span></div>
				<input class="form-control" id="from" name="from" type="email">
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">
					<span class="input-group-text">To</span></div>
				<input class="form-control" name="to" readonly type="email" value="service@autoinmall.com">
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">
					<span class="input-group-text">Title</span></div>
				<input class="form-control" id="title" name="title" readonly type="text" value="Ask about item without price">
			</div>
			<div class="input-group mb-1">
				<textarea class="form-control" name="text" style="width:100%;height:250px;resize:none"></textarea>
			</div>
			<div class="input-group mb-1">
				<input class="btn btn-info btn-block" id="send_btn" type="button" value="send">
			</div>
		</form>
	</div>
	<br>
	<!-- Footer-->
	<footer class="footer py-4">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 text-lg-left">Copyright © 2020 AUTOINMall</div>
				<div class="col-lg-4 my-3 my-lg-0">
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="col-lg-4 text-lg-right">
					<a class="mr-3" href="#!">Privacy Policy</a>
					<a href="#!">Terms of Use</a>
				</div>
			</div>
		</div>
	</footer>

	<script>
		$(document).ready(function () {
			var from = "<%- from %>";
			$("#from").val(from);
			$("#send_btn").off("click").on("click", function () {
				$.ajax({
					url: "/item/contact/send",
					type: "post",
					data: $("form").serialize(),
					success: function () {
						Swal.fire({
							icon: 'success',
							title: 'send email',
							text: 'Send email success'
						})
					}
				})
			})

		})


	</script>
</body>

</html>
