<!DOCTYPE html>
<html>
<head>
	<%- include('head') %>
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row" style="border:1px solid silver">

			<div class="col-md-6" style="padding:0">
				<img id="thumb1" src="/img/item/no_img.png" style="width:100%;height:200px">
			</div>
			<div class="col-md-6" style="padding:0">
				<div class="form-control-upload filebox">
					<label for="img1">사진 업로드</label>
					<input type="file" name="img1" class="filebox" accept="image/*" id="img1" name="brandimg" />
					<input type="text" class="upload-name-img" readonly="readonly" disabled="disabled" />
				</div>
				<input class="form-control mt-2" name="img1_url" placeholder="URL" style="width:100%!important" type="text">
			</div>

		</div>
		<div class="row" style="border:1px solid silver">

			<div class="col-md-6" style="padding:0">
				<img id="thumb2" src="/img/item/no_img.png" style="width:100%;height:200px">
			</div>
			<div class="col-md-6" style="padding:0">
				<div class="form-control-upload filebox">
					<label for="img2">사진 업로드</label>
					<input type="file" name="img2" class="filebox" accept="image/*" id="img2" name="brandimg" />
					<input type="text" class="upload-name-img" readonly="readonly" disabled="disabled" />
				</div>
				<input class="form-control mt-2" name="img2_url" placeholder="URL" type="text">
			</div>

		</div>

		<div class="row" style="border:1px solid silver">

			<div class="col-md-6" style="padding:0">
				<img id="thumb3" src="/img/item/no_img.png" style="width:100%;height:200px">
			</div>
			<div class="col-md-6" style="padding:0">
				<div class="form-control-upload filebox">
					<label for="img3">사진 업로드</label>
					<input type="file" name="img3" class="filebox" accept="image/*" id="img3" name="brandimg" />
					<input type="text" class="upload-name-img" readonly="readonly" disabled="disabled" />
				</div>
				<input class="form-control mt-2" name="img3_url" placeholder="URL" type="text">
			</div>

		</div>


		<input class="btn btn-warning mt-3 btn-block" type="button" value="apply">


	</div>
	<script>
		$(document).ready(function () {
			var img_list = JSON.parse('<%- img_list %>');
			if (img_list) {

				$("#thumb1").attr('src', "/img/mall/" + img_list[0].IMG1);
				$("#thumb2").attr('src', "/img/mall/" + img_list[0].IMG2);
				$("#thumb3").attr('src', "/img/mall/" + img_list[0].IMG3);
				$("input[name='img1_url']").val(img_list[0].URL1);
				$("input[name='img2_url']").val(img_list[0].URL2);
				$("input[name='img3_url']").val(img_list[0].URL3);

			}
			//insert img and check it
			$("input[name='img1']").on("change", () => {
				var file = $("input[name='img1']")[0].files;
				var img_file;
				img_file = file[0];
				var src = URL.createObjectURL(img_file);
				$("#thumb1").attr("src", src);
			})

			$("input[name='img2']").on("change", () => {
				var file = $("input[name='img2']")[0].files;
				var img_file;
				img_file = file[0];
				var src = URL.createObjectURL(img_file);
				$("#thumb2").attr("src", src);
			})

			$("input[name='img3']").on("change", () => {
				var file = $("input[name='img3']")[0].files;
				var img_file;
				img_file = file[0];
				var src = URL.createObjectURL(img_file);
				$("#thumb3").attr("src", src);
			})

			$(".btn").off("click").on("click", function () {
				var formdata = new FormData();
				formdata.append("img", $("input[name='img1']")[0].files[0]);
				formdata.append("img", $("input[name='img2']")[0].files[0]);
				formdata.append("img", $("input[name='img3']")[0].files[0]);
				formdata.append("org1", img_list[0].IMG1);
				formdata.append("org2", img_list[0].IMG2);
				formdata.append("org3", img_list[0].IMG3);
				formdata.append("url1", $("input[name='img1_url']").val());
				formdata.append("url2", $("input[name='img2_url']").val());
				formdata.append("url3", $("input[name='img3_url']").val());
				$.ajax({
					url: "/shopimg/change",
					type: "post",
					data: formdata,
					contentType: false,
					processData: false,
					success: function () {
						location.reload();
					},
					error: function () {
						alert("fail");
					}
				})
			})

			var imgTarget = $("#img");
			imgTarget.on("change", function(){ // 값이 변경되면
				console.log($(this)[0].files[0].name);
				if(window.FileReader) { // modern browser
					var imgname = $(this)[0].files[0].name;
				}
				else { // old IE
					var imgname = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
				} // 추출한 파일명 삽입
				$(this).siblings(".upload-name-img").val(imgname);
    	});

		});

	</script>
</body>
</html>
