<!DOCTYPE html>
<html>

<head>
	<title>Sign in</title>
	<%- include('head') %>
	<link href="/css/signup.css" rel="stylesheet">
</head>

<body>
	<%- include('body_nav') %>
	<br><br><br><br>
	<div class="container">
		<div class="brand_logo_container">
			<img alt="Logo" class="brand_logo" src="/img/autoinlogo/autoin_icon.png">

		</div>
		<div id="signup_box">
			<form>
				<!--ID-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id=""><i class="far fa-id-card"></i></span>
						</div>

						<input class="form-control" id="userId" name="userId" placeholder="insert your id"
							   type="text">

					</div>
				</div>
				<!--PW-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id=""><i class="fas fa-key"></i></span>
						</div>
						<input class="form-control" id="userPw" name="userPw" placeholder="insert your password"
							   type="password">
					</div>
				</div>

				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input" id="customControlInline" type="checkbox">
						<label class="custom-control-label" for="customControlInline">Remember me</label>
					</div>
				</div>
				<div class="input-group mb-3">
					<div class="input-group">
						<input class="btn btn-info btn-block" id="confirm" type="button" value="confirm">
					</div>
				</div>
			</form>
			<div class="mt-4">
				<div class="d-flex justify-content-center links">
					Don't have an account? <a class="ml-2" href="/signup">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center links">
					<a id="findpw" style="cursor: pointer; color:#fed136">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer-->
	<%- include('footer') %>

	<!-- Core theme JS-->
	<script src="/js/signin.js"></script>

	<script>
		var username = '<%- username %>';
		if (username) {
			$("#account_ctrl").html('Signout');
			$("#account_ctrl").attr("href", "/Signout");
			$("#accountMenu").append('<a class="dropdown-item" href="/management">Management</a>');
		} else {
			$("#account_ctrl").html('Signin');
			$("#account_ctrl").attr("href", "/signin");
			$("#accountMenu").remove("#management");
		}
		if ($(window).width() < 976) {
			if (username) {
				$("#resizemenu").html(
					'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signout" id="account_ctrl">Signout</a></li>' +
					'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>' +
					'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/management">Management</a></li>'
				);
			} else {
				$("#resizemenu").html(
					'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signin" id="account_ctrl">Signin</a></li>' +
					'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>'
				);
			}
		}
		$(window).resize(function () {
			if ($(window).width() < 976) {
				if (username) {
					$("#resizemenu").html(
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signout id="account_ctrl">Signout</a></li>' +
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>' +
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/management">Management</a></li>'
					);
				} else {
					$("#resizemenu").html(
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signin" id="account_ctrl">Signin</a></li>' +
						'<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>');
				}

			} else {
				if (username) {
					$("#resizemenu").html(
						'<div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"' +
						'data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Account</a>' +
						'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
						'<a class="dropdown-item" href="/signout" id="account_ctrl">Signout</a>' +
						'<a class="dropdown-item" href="/cart">Cart</a>' +
						'<a class="dropdown-item" href="/management">Management</a></div></div>'
					);
				} else {
					$("#resizemenu").html(
						'<div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"' +
						'data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Account</a>' +
						'<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
						'<a class="dropdown-item" href="/signin" id="account_ctrl">Signin</a>' +
						'<a class="dropdown-item" href="/cart">Cart</a>'
					);
				}
			}
		});
		//cart to signin
		var flag = '<%- flag %>';
		if (flag) {
			Swal.fire({
				icon: 'error',
				title: 'Wrong',
				text: 'You have to Sign in first!!',

			})
		}
		$("#findpw").off("click").on("click", function () {
			Swal.fire({
				title: 'Setting new Password',
				html:
					'<div class="input-group mb-1">' +
					'<div class="input-group-prepend">' +
					'<span class="input-group-text">ID</span></div>' +
					'<input type="text" id="id" placeholder="Please insert your ID" class="form-control" style="width:180px">' +
					'</div>' +
					'<div class="input-group mb-1">' +
					'<div class="input-group-prepend">' +
					'<span class="input-group-text">E-mail</span></div>' +
					'<input type="email" id="email" placeholder="Please insert your e-mail" class="form-control" style="width:180px">' +
					'</div>'
				,
				showCancelButton: true,
				showConfirmbutton: true,
				preConfirm: function () {
					$.ajax({
						url: '/reset/password',
						type: "post",
						data: {
							from: "service@autoinmall.com",
							to: $("#email").val(),
							id: $("#id").val()
						},
						success: function (msg) {
							if (msg) {
								Swal.fire({
									icon: 'error',
									title: 'Setting new Password',
									text: msg
								})
							} else {
								Swal.fire({
									icon: 'success',
									title: 'Setting new Password',
									text: 'Please check your e-mail'
								})
							}
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Setting new Password',
								text: 'Fail to sending e-mail'
							})
						}
					})
				}
			})
		})
	</script>
</body>

</html>
