<!DOCTYPE html>
<html>

<head>
	<title>Sign up</title>
	<%- include('head') %>
	<link href="/css/signup.css" rel="stylesheet">
</head>

<body>
	<%- include('body_nav') %>
	<br><br><br><br>
	<div class="container">
		<div class="brand_logo_container">
			<img alt="Logo" class="brand_logo" src="/img/autoinlogo/autoin_icon.png">
			<!--임의로 넣은 이미지여서 정식 이미지 요청할 것-->
		</div>
		<div id="signup_box">
			<!--form action="/signup/confirm" method="POST"-->
			<form>
				<!--ID-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-id-card"></i></span>
						</div>

						<input class="form-control" id="userId" name="userId" placeholder="insert your id"
							   type="text">
						<input class="btn btn-info" id="checkId" type="button" value="check">

					</div>
				</div>
				<!--PW-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id=""><i class="fas fa-key"></i></span>
						</div>
						<input class="form-control" data-toggle="tooltip" id="userPw" name="userPw"
							   placeholder="insert your password"
							   title="The password must be at least 8 characters long and must be used in combination with special characters, capital letters, and lower case letters.(ex.Abcd1234#)"
							   type="password">
					</div>
				</div>
				<!--check PW-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-lock"></i></span>
						</div>
						<input class="form-control" id="checkPw" name="checkPw" placeholder="insert your password again"
							   type="password">
						<input class="btn btn-info" id="checkpassword" type="button" value="check">
					</div>
				</div>
				<!--name-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input class="form-control" id="userName" name="userName" placeholder="insert your name" type="text">
					</div>
				</div>
				<!--address & zipcode-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
						</div>
						<input class="form-control" id="userZipcode" name="userZipcode" placeholder="insert your Zipcode" style="border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;"
							   type="text">
						<div style="width:100%;margin-top:1rem;"><input class="form-control" id="userAddress" name="userAddress" placeholder="insert your Address" style="text-align: right;"
																		type="text"></div>
					</div>
				</div>
				<!--email-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-envelope"></i></span>
						</div>
						<input class="form-control" id="userEmail" name="userEmail" placeholder="insert your e-mail" type="email">
					</div>
				</div>
				<!--phone number-->
				<div class="input-group mb-3">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
						</div>
						<input class="form-control" id="userPhone" name="userPhone" placeholder="insert your phone number without '-'" type="text">
					</div>
				</div>
				<div class="input-group mb-3">
					<div class="input-group">
						<input class="btn btn-info btn-block" id="confirm" type="button" value="confirm">
					</div>
				</div>
			</form>

		</div>
	</div>
	<!-- Footer-->
	<%- include('footer') %>

	<!-- Core theme JS-->
	<script src="/js/signup.js"></script>
</body>
</html>
