.row a:hover{
    text-decoration: none;
}
.text-center div{
    box-shadow: 3px 3px 3px 3px rgba(138, 138, 138, 0.5);
    padding-top:0.5%;
    background: gray;
    border: 1px solid #8a8a8a;
    border-radius: 15px;
}

.text-center .rank-col-odd{
  background-color: white;
  padding-top:0.5%;
}

.text-center .rank-col-even{
  background-color:#B5B5B6;
  padding-top:0.5%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left:3%;
  margin-right:3%;
}
#brands{
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
.brand_slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding-bottom:3%;
  margin-bottom:1%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.dropdown-menu{
  background-color:#212529;
}
.dropdown-item{
  color:white!important;
}
.dropdown-item:hover{
  background-color: silver!important;
}
.shop-item{
  background-color:white!important;
}
#category_link{
  background-color: #212529;
  padding:1% 1% 1% 1%;
  border-radius: 0.5rem;
}
#category_link h3{
  color:#fed136;
  cursor: default;
}
#category_link a{
  color:white;
  text-decoration: none;

}
